<%- include('layout/header') %>
<%- include('layout/nav') %>

<form  class="container mt-3" style="width: 30%;" method="post" action="/contact/update">
   <input type="hidden" name ="oldName" value= "<%= (contact.oldName) || contact.name%>">
    <div class="form-floating mb-3"> 
        <h1> Update Data </h1>

        <% if (typeof errors != 'undefined') { %>
            <div class="alert alert-danger" role="alert">
              <ul>
                <% errors.forEach(error => { %>
                   <li><%= error.msg %> </li>
                <% }) %>
              </ul>
            </div>
           <% } %>
        

        <br><h5>Your Name:</h5>
         <label for="exampleInputEmail1"></label>
         <input type="text" class="form-control" id="name" name="name" aria-describedby="nama_anda" value= "<%= contact.name%>">

    </div>   
    
      
    </div>

    <div class="form-floating">
    
    <h5>Your Email:</h5>
        <label for="exampleInputEmail1"></label>
        <input type="email" class="form-control" id="email" name="email" aria-describedby="email_anda" value= "<%= contact.email%>">
          
    </div>

    <div class="form-floating">
    <h5>Your Mobile:</h5>
        <label for="exampleInputPassword1"></label>
        <input type="text" class="form-control" id="mobile" name="mobile" value= "<%= contact.mobile%>">
        <p><br> <button type="submit" class="btn btn-outline-dark">Update</button> 
       
    </div>
    
    
</form>


<%- include('layout/footer') %>