<%- include('layout/header') %>
<%- include('layout/nav') %>
<div class="pageutama" style="width: 100%;">
    <h2> Ini adalah halaman contact. Contact for this company through wa, email and instagram. </h1>

        <% if (msg.length !== 0) { %>
            <div class="alert alert-info" role="alert">
              <%= msg %> 
            </div>
          <% } %>
        <form  class="container mt-3" style="width: 30%;" method="post" action="/contact/deletemultiple">
        <table class="table table-hover">
            <thead>
              <tr>
                <th>[]</th>
                <th scope="col"> No</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                <% var x=0 %> 
                <% for (var i = 0; i < list_contact.length; i++) { %>
            <tr>
                <td><input type="checkbox" id="check-all" name="deletemultiple" value ="<%= list_contact[i].name %>"></th>
                <td><%= x = i+1%> </td>
                <td><%= list_contact[i].name%></td>
                <td><%= list_contact[i].email%></td>
                <td>
                    <a href="/contact/<%= list_contact[i].name %>" class="btn btn-outline-dark">Details</a> <!--page contact di web -->
                    
                </td>
                
            </tr>
                <% }%>
              
            </tr>
            <a href="/contact/add" class="btn btn-outline-dark mb-2">Add data</a> <!-- ke page contact/ add (add kontak)-->
            <button class="btn btn-outline-danger mb-2 ml-9 mr-9" type="submit" > Delete </button>
            
          </form>
            </tbody>
          </table>
    
</div>

<%- include('layout/footer') %>