<%- include('layout/header') %>
<%- include('layout/nav') %>


<div class="card bg-1" style="width: 150px height:40px; margin: 10px 0; background-color: black; color:white">
    <div class="card-body border border-2 shadow">
      <h3 class="card-title" style="color:white">ID Barang: <%= detailBarang.id_barang%></h3> <br>
      <h3 class="card-subtitle mb-2 text-white">Nama Barang: <%= detailBarang.nama_barang%></h3> <br>
      <h3 class="card-text" style="color:white"> Jumlah Barang:  <%= detailBarang.jumlah_barang%></h3> <br>
      <h3 class="card-text" style="color:white"> Harga Barang: <%= detailBarang.harga_barang%></h3> <br>
      <h3 class="card-text" style="color:white"> <%= detailBarang.photo%></h3> <br>
      <a href="/barang/edit/<%= detailBarang.nama_barang %>" class="btn btn-outline-light" style= "color: red" > Edit </a>
      <a href="/barang/delete/<%= detailBarang.nama_barang %> " class="btn btn-outline-light" style= "color: red" onclick="return confirm('apakah yakin anda akan menghapus data ini?')"> Delete </a>
      <a href="/barang" class="btn btn-outline-light" style= "color:white">kembali ke list barang </a>
      
    </div>
</div>

<div class="pageutama" style="width: 100%;">

</div>


