<%- include('layout/header') %>


<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <!-- <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" /> -->
                  <img src="/images/logo_wgs.png" alt="logo wgs" class="image2" width="100%">
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <img src="images/logo_wgs.png" alt="logo WGS" class="image2">
                <div class="card-body p-4 p-lg-5 text-black">
                  <ul>
                  <% if (typeof errors !='undefined' ) { %> <% errors.forEach(error => { %>
                    <li> <%= error.message %> </li>
                 <% }); %>
                  <% } %>
                  </ul>
                  
  
                  <form method="post" action="/admin/list_user/update">
                    <input type="hidden" username ="oldUsername" value= "<%= (userEdit.oldUsername) || userEdit.username%>">
  
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0"></span>
                    </div>
  
                    <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Edit User Page</h5>
  
                    <div class="form-outline mb-4">
                      username:
                      <label class="form-label" for="form2Example17" > Username</label>
                      <input type="text" class="form-control form-control-lg" id="username"  name="username" aria-describedby="username_anda" value= "<%= userEdit.username%>"/>
                    </div>
                    <div class="form-outline mb-4">
                      nama:
                      <input type="text"  class="form-control form-control-lg" id="name" name="name" aria-describedby="name_anda" value= "<%= userEdit.name%>"/>
                      <label class="form-label" for="form2Example17" >nama</label>
                    </div>
                    <div class="form-outline mb-4">
                      email:
                        <input type="email"  class="form-control form-control-lg" id="email" name="email" aria-describedby="email_anda" value= "<%= userEdit.email%>" disabled readonly/>
                        <label class="form-label" for="form2Example17" ></label>
                      </div>
                    <div class="form-outline mb-4">
                      role:
                      <input type="text"  class="form-control form-control-lg" id="role" name="role" aria-describedby="role" value= "<%= userEdit.role%>"/>
                      <label class="form-label" for="form2Example17" ></label>
                    </div>
                    <!-- <div class="form-outline mb-4">
                      Role <br>
                    
                        
                    <input type="radio" name="role" value="admin" checked />admin</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="role" value="user"/>user</td>
                    </tr>
                  </div> -->
  
                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Update User</button>
                    </div>
  
                   
                    
                  </form>
                  <button class="btn btn-dark btn-lg btn-block" type="button"><a href = "/home">Kembali Ke Home Admin</a></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
           
  <%- include('layout/footer') %>