<%- include('layout/header') %>
<%- include('layout/nav') %>


<div class="container">
    <div class="col">
        

        <div class="img1">
            
            <div class="col text-center">
            
            <div class="display-4">Informasi Data Pekerja</div>
            
                <tr>
                    
                    

                    <td> <h2> Username: <%= user %> </h2></td>
                    <td> <h2> Nama: <%= name %> </h2></td>
                    <td> <h2> email: <%= email %> </h2></td>
                    <td> <h2> role : <%= role %> </h2></td>

                  
                </tr>
            
        </div>
    </div>
        
    
</div>


<%- include('layout/footer') %>