<%- include('layout/header') %>
<%- include('layout/nav') %>


<div class="container">
    <div class="col">
        

        <div class="img1">
            
            <div class="col text-center">
            
            <div class="display-4">Informasi Data Pekerja</div>
            <% user.forEach((user,i)=> { (i++) %>
                <tr>
                    
                    
                    <td> <h2> Username: <%= user.username %> </h2></td>
                    <td> <h2> Nama: <%= user.name %> </h2></td>
                    <td> <h2> email: <%= user.email %> </h2></td>

                  
                </tr>
    <%}); %> 
            
            
        </div>
    </div>
        
    
</div>


<%- include('layout/footer') %>