<%- include('layout/header') %>
<%- include('layout/nav') %>



<div class="pageutama" style="width: 100%;">
  <a href="/home" class="btn btn-outline-dark">Home Admin</a> 
    <h3> List User:  </h2>

      <% if (msg.length !== 0) { %>
        <div class="alert alert-info" role="alert">
          <%= msg %> 
        </div>
      <% } %>      
          <form  class="container mt-3" style="width: 30%;" method="post" action="/contact/deletemultiple">
            <table class="table table-hover">
                <thead>
                  <tr>
                    
                    <th scope="col"> No</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                    <% list_user.forEach((list_user,i)=> { (i++) %>
                    <tr>
                        
                        <td> <%= i++ %> </td>
                        <td> <%= list_user.username %> </td>
                        <td> <%= list_user.email %> </td>
                      
                        <td>
                          <a href="/admin/list_user/<%= list_user.username %>" class="btn btn-outline-dark">Details</a> <!--page contact di web -->
                      </td>
                    </tr>
                </tr>
        <%}); %> 
            </tr>
            
           
            
          </form>
            </tbody>
          </table>
    
</div>

<%- include('layout/footer') %>